body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.products{ 
    background-color: #ff773d;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
